/**
* CORES UTLILIZADAS: #1DA1F2;
                     #666;
                     #DCDCDC;
                     #1B5FE0;
                     #FFFF00;
                     #FF8C00;
                     #FF0000;
                     #FFFFFF;
 */

/* CLASSES REUTILIZAVEIS */
*{
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

:before, :after{
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

body{
  margin: 0 auto;
  font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71429;
}

a, ul, li, h1, h2, h3, h4, h5, h6{
  font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
  font-weight: 700;
  font-size: 32px;
  text-decoration: none;
}

/* BANNER */
div.banner{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 83px;
  padding: 0 147px;
  background-color: #1DA1F2;
}

i.logo{
  font-size: 30px;
  color: #FFFFFF;
  letter-spacing: 10px;
}

h1.twitter{
  color: #FFFFFF;
  letter-spacing: 1px;
}

/* CONTENT - CONTAINER */
div.content{
  display: flex;
  justify-content: space-around;
  flex-flow: row wrap;
  width: 100%;
  height: 590px;
  background-image: url('../assets/images/wallpaper.png');
  background-size: 100%;
  background-repeat: no-repeat;
}

div.container{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  flex-wrap: wrap;
  margin: 30px;
  width: 100%;
  height: 300px;
}

.box{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-self: center;
  margin: 25px;
  padding: 25px;
  width: 550px;
  height: 250px;
  background-color: #FFFFFF;
}

h2.title{
  width: 100%;
  font-size: 25px;
  color: #666;
  margin: 0;
}

p.text{
  color: #666;
  font-size: 18px;
  font-weight: 300;
  margin: 0;
  white-space: pre-wrap;
}

hr{
  margin: 5px 0;
  width: 100%;
  border-top: solid 1px #DCDCDC;
}

h3.sub-title{
  color: #1B5FE0;
  font-size: 20px;
  margin: 0;
}

/* FORMULARIO */
.twitter-txt{
  display:table;
}

.form-twitter{
  width: 100%;
  background-color: #FFFFFF;
}

textarea{
  width: 100%;
  min-height: 60px;
  color: #666;
  font-size: 18px;
  font-weight: 300;
  resize: none;
  overflow: hidden;
  word-wrap: break-word;
  padding: 10px;
}

.button-form{
  height: 40px;
  width: 100px ;
  float: right;
  font-size: 15px;
  font-weight: 700;
  letter-spacing: 1px;
  color: #FFFFFF;
  background-color: #1DA1F2;
  border-radius: 5px;
  border: none;
  cursor: pointer;
  margin: 10px 0;
}

#count-char{
  font-size: 18px;
  font-weight: 700;
  color: #1B5FE0;
  text-align: end;
  margin: 0;
}

/* CONTAINER TEXTO TEXTEAREA */
.box-twitted{
  display: flex;
  flex-direction: column;
  margin: 0px 70px;
  width: 100%;
}

.twitted{
  display: flex;
  flex-direction: column;
  padding: 10px 25px;
  letter-spacing: 1px;
  margin: 5px;
  max-width: 1200px;
  min-height: 50px;
  background-color: #FFFFFF;

}

.date{
  font-size: 15px;
  font-weight: 700;
  color: #666;
  margin-top: 5px;
}
